body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 56px;
  padding-left: 20%;
  background-color: black;
}

.navbar {
  margin-left: 20%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 12.5%;
  border: 0;
  border-top: 1px solid darkgray;
  width: 75%;
}

p {
  font-size: 12px;
}

.link {
  color: gray;
}

.link:hover {
  color: white;
}
